{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms and Conditions</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/ktm_voyage.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Montserrat;
        }

        .text-custom {
            line-height: 25px;
        }

        .title-custom {
            text-align: center;
            font-weight: 700;
            letter-spacing: 0.9px;
            color: #00639e;
        }

        .title2-custom {
            font-weight: 700;
            letter-spacing: 0.9px;
            color: #00639e;
            margin-bottom: 0px;
        }

        .terms-container {
            padding: 20px 80px;
        }

        .ul-custom {
            font-size: 15px;
            letter-spacing: 0.3px;
        }

        .agree-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 20px 100px;
            background-color: #00639e;
            box-shadow: 10px 10px 20px #dddddd;
            position: fixed;
            bottom: 40px;
            left: 20px;
            right: 20px;
        }

        .example_f {
            border-radius: 4px;
        {#background: linear-gradient(to right, #67b26b, #4ca2cb) !important;#} background: #cacaca;
            border: none;
            color: black;
            text-align: center;
            font-size: 15px;
            padding: 10px;
            width: 200px;
            transition: all 0.4s;
            cursor: pointer;
            margin: 5px;
        }

        .example_f span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
        }

        .example_f span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .example_f:hover span {
            padding-right: 25px;
        }

        .example_f:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>

</head>

<body style="background-color: #f1f1f1">
<div class="terms-container">
    <h2 class="title-custom">KTM VOYAGE BUSINESS PARTNER ACCOUNT TERMS OF USE</h2>
    <hr style="width: 50%; border-color: #00639e; border-left: none; border-right: none; border-bottom: none">
    <br>
    <p class="text-custom">
        Ktm Voyage may offer business partners access to online user accounts, including the Affiliate Partner
        Center (hereafter the “Ktm Voyage Services”). Individuals with access to these user accounts, either due
        to an agreement directly with Ktm Voyage or on behalf of a business partner of Ktm Voyage (hereafter
        the “Master Agreement”), must adhere to the following Terms of Use.
        You agree not to use, and not to allow third parties to use, the Ktm Voyage Services for other purposes
        than agreed to in the Master Agreement, and not:
    </p>
    <ul class="text-custom ul-custom">
        <li>To send unsolicited commercial emails to guests</li>
        <li>To make misrepresentations, including hiding your identity</li>
        <li>To upload viruses, malware, or other malicious code</li>
        <li>To alter, disable, or circumvent any processes built into the Ktm Voyage systems</li>
        <li>To copy and further use the Ktm Voyage trademarks unless explicitly agreed to by Ktm Voyage</li>
        <li>To damage, disable, impair, and/or overburden the Ktm Voyage systems</li>
        <li>To reverse engineer any of the features offered by Ktm Voyage</li>
        <li>To disclose, share or resell any login details</li>
        <li>To grant access to the Ktm Voyage systems to third parties for commercial or any other reason
            without Ktm Voyage’s explicit written agreement
        </li>
        <li>To use the Ktm Voyage Services in violation of applicable law, including the legal rights of
            others – this includes uploading content that violates third-party intellectual property rights
        </li>
    </ul>
    <p class="text-custom">
        Any loss or misuse of login credentials must immediately be reported to report@Ktm Voyage.com
        Failure to comply with these Terms of Use may lead to suspension of your access to the Ktm Voyage
        Services. Ktm Voyage retains the right to take further legal steps, including termination, in accordance
        with the respective Master Agreement.
        Ktm Voyage
    </p>

    <br>
    <h2 class="title-custom">PRIVACY STATEMENT FOR BUSINESS PARTNERS</h2>
    <hr style="width: 50%; border-color: #00639e; border-left: none; border-right: none; border-bottom: none">
    <br>
    <p class="text-custom">
        This Privacy Statement applies to Ktm Voyage. It describes how Ktm Voyage collects and processes personal data
        about (potential, existing or former) Trip Providers and other business partners. This Privacy Statement
        therefore applies to personal data of owners, employees, representatives or other individuals acting on behalf
        of a Trip Provider or other business partners (Trip Providers, other business partners and the related
        individuals are hereafter together or individually referred to as "Business Partners" or "you"). A Business
        Partner within the meaning of this Privacy Statement may be a Trip Provider (including the provider of
        accommodation, attractions, park, museum, etc.), business partners enabling the reservations of Trips through
        their websites and/or apps or other means, including travel agencies, third party vendors and other business
        partners maintaining a business relationship with Ktm Voyage.
    </p>
    <br>
    <h3 class="title2-custom">Data Collection</h3>
    <br>
    <p class="text-custom">
        The personal data Ktm Voyage collects in regards to Business Partners depends on the context of the
        business relationship and interaction with Ktm Voyage, the choices made by a Business Partner and the
        products, services and features used. The personal data Ktm Voyage collects about a Business Partner can
        include the following - depending on the specific situation, not all of the following data items may be
        considered personal data because they may relate to a business instead of an individual:
    </p>
    <h3 class="title2-custom">Personal data you give to us</h3>
    <br>
    <p class="text-custom">
        Contact details:<br>
        We collect contact data of Business Partner, such as first name/ last name, date of birth
        (as required), business e-mail address and address, telephone and fax number.
        <br>
        <br>
        Financial data:<br>
        We collect data necessary for payment, including invoicing purposes, including your
        bank details: bank account number, VAT number, credit slips.
        <br>
        <br>
        Verification details:<br>
        As part of the registration process, Ktm Voyage can ask (representatives of)
        Business Partners to provide a copy of their ID card or passport, a photo, video or other relevant
        information to verify the authenticity of the Business Partner.
        <br>
        <br>
        Others:<br>
        When communicating with Ktm Voyage, Ktm Voyage collects and processes communications.
        During calls with our support center, live listening may be done or calls may be recorded for quality
        control and training purposes, which includes the usage of the recordings for the handling of claims and
        fraud detection purposes. Recordings are kept for a limited amount of time and automatically deleted,
        unless Ktm Voyage has a legitimate interest to keep such recording for a longer period, including for
        fraud investigation and legal purposes.
        <br>
        <br>
        Other information we collect automatically:<br>
        When using the Ktm Voyage online services, such as the
        online registration form, an online user account (e.g. partner center), or make use of a Ktm Voyage app,
        Ktm Voyage also collects information automatically, some of which may be personal data. This includes
        data such as language settings, IP address, location, device settings, device OS, log information, time of
        usage, URL requested, status report, user agent (information about the browser version), operating
        system, result (viewer or booker), browsing history, user Booking ID, and type of data viewed.
        By sharing other individual’s personal data in relation to your business (for example of your staff
        members), you confirm that these individuals have been informed about the use of their personal data by
        Ktm Voyage in accordance with this Privacy Statement and provided any necessary consents.
    </p>
    <h3 class="title2-custom">Other information we receive from other sources:</h3>
    <br>
    <p class="text-custom">
        Information on insolvencies:<br>
        In insolvency matters, Ktm Voyage can receive information from
        insolvency administrators, courts or other public authorities relating to a Business Partner.
        <br>
        <br>
        Data related to law enforcement and tax authority requests:<br>
        Law enforcement or tax authorities can contact Ktm Voyage with additional information about Business Partners in
        case they are affected by an
        investigation.
        <br>
        <br>
        Fraud detection:<br>
        In certain instances, and as permitted by applicable law, Ktm Voyage may need to
        collect data through third party sources for fraud detection and prevention purposes.
        Processing purposes: Ktm Voyage uses the previously described Business Partner information, some of
        which may be personal data, for the following purposes:
    </p>
    <p class="text-custom">
        A. Registration and account administration<br>
        Ktm Voyage uses account details, financial data and contact details for registrations with Ktm Voyage,
        including verification purposes to manage the business relationship with the Business Partner.
        <br>
        <br>
        B. Customer service<br>
        Uses the information provided, which may include personal data, to provide support services, such as to
        respond to Business Partners’ requests, questions and concerns.
        <br>
        <br>
        C. Other activities, including marketing<br>
        If a Business Partner is making use of an online registration facility and has not finalized the registration,
        Ktm Voyage may send a reminder to carry on with the registration. We believe that this additional service
        is useful to our (future) Business Partners because it allows to carry on with the registration without
        having to fill in all the registration details from scratch. Ktm Voyage may invite Business Partners to
        attend and hosts events Ktm Voyage believe may be of relevance to a Business Partner or use personal
        data to offer and host online forums to enable Business Partners to find answers to commonly asked
        questions on the usage of the Ktm Voyage services and the offering of their products and services. Ktm
        Voyage uses personal data, such as contact data, to also inform about system/product updates, to send the
        Ktm Voyage newsletter, to invite a Business Partner to participate in referral programs or competitions
        (such as Booking Hero) or for other marketing communications. When we use personal data for direct
        marketing messages in electronic form, Ktm Voyage will include a link to unsubscribe.
        <br>
        <br>
        D. Messaging tools<br>
        Ktm Voyage may offer certain Business Partners different means to communicate with its guests.
        Business Partners can contact Ktm Voyage to forward information or questions about reservations to
        guests or communicate by use of e.g. alias emails, which always include Ktm Voyage as a recipient. Ktm
        Voyage may access communications and uses automated systems to review, scan, and analyze
        communications for security purposes; fraud prevention; compliance with legal and regulatory
        requirements; investigations of potential misconduct; product development and improvement; research;
        customer engagement, including to provide guests with information and offers that we believe may be of
        interest to them; and customer or technical support. Note, all communications sent or received using Ktm
        Voyage communication tools will be received and stored by Ktm Voyage.
        <br>
        <br>
        E. Analytics, improvement and research:<br>
        Ktm Voyage uses the information provided, which may include personal data, for analytical purposes.
        This is part of our drive to improve the Ktm Voyage services and enhance user experience, but can also
        be used for testing purposes, troubleshooting and to improve the functionality and quality of the Ktm
        Voyage online services. Ktm Voyage also invites Business Partners regularly to participate in surveys or
        conducts other market research. Certain Business Partners may be invited to join a dedicated online
        platform to interact with Ktm Voyage and/or exchange experiences with other Business Partners. Please
        consult the information provided when invited to participate in survey, market research or join the online
        platform to understand how personal data may be treated differently from this Privacy Statement.
        <br>
        <br>
        F. Security, fraud detection and prevention.<br>
        We process the information provided, which may include personal data, in order to investigate, prevent
        and detect fraud and other illegal or violating activities. This may be personal data a Business Partner has
        provided to Ktm Voyage, for example for verification purposes as part of the registration process,
        personal data collected automatically, or personal data obtained from third party sources (including from
        guests). Ktm Voyage may also use personal data to facilitate prosecution where necessary. For these
        purposes, personal data may be shared with law enforcement authorities and external advisors. Ktm
        Voyage can use personal data for risk assessment and security purposes, including the authentication of
        users.
        <br>
        <br>
        G. Legal and compliance<br>
        In certain cases, Ktm Voyage needs to use the information provided, which may include personal data, to
        handle and resolve legal disputes, for regulatory investigations and compliance, or to enforce the
        agreement(s) with Business Partners or solve a complaint with a booker as reasonably expected.
        Note that accommodation information, including the name and address of the accommodation, will be
        used in accordance with the General Delivery Terms as part of the separately executed Accommodation
        Agreement (e.g. to display on third party websites to enable the making of a Trip Reservation).
        If we use automated means to process personal data which produces legal effects or significantly affects
        you, we will implement suitable measures to safeguard you rights and freedoms, including the right to
        obtain human intervention.
    </p>
    <p class="text-custom">
        Legal Bases:<br>
        In view of purposes A and B, Ktm Voyage relies on the legal basis that the processing of
        the personal data is necessary for the performance of the agreement between the Business Partner and
        Ktm Voyage. If the required information is not provided, Ktm Voyage cannot register a Trip Provider or
        otherwise work with a Business Partner, nor can we provide customer service. In view of purposes C to
        G, Ktm Voyage relies on its legitimate interest to provide its services or obtain services from Business
        Partners, to prevent fraud and to improve its services. When using personal data to serve Ktm Voyage’s
        or a third party's legitimate interest, Ktm Voyage will always balance the Business Partners’ rights and
        interests in the protection of their information against Ktm Voyage’s rights and interests or those of the
        third party.
        For purposes F and G, Ktm Voyage relies also where applicable on compliance with legal obligations
        (such as lawful law enforcement requests).
        If you wish to object to the processing set out under C to E and no opt-out mechanism is available to you
        directly (for example, in your account settings), to the extent applicable, please contact
        <a href="#">dataprotectionoffice@ktmvoyage.com</a>
    </p>
    <br>
    <h3 class="title2-custom">Data Sharing:</h3>
    <br>
    <p class="text-custom">
        Sharing with affiliates. <br>In order to support the use of the Ktm Voyage services, your
        information, which may include personal data, may be shared with subsidiaries of the Ktm
        Voyage corporate family which act as service providers for Ktm Voyage, including in relation to
        customer support services
        <br>
        <br>
        Sharing with third parties. <br>We share Business Partners’ information, which may include
        personal data, with third parties as permitted by law and as described below. We do not sell or
        rent the personal data to third parties.
        <br>
        <br>
        Service providers (incl. suppliers).<br>We share personal data with third party service providers to
        provide our products and services, store data or conduct business on our behalf. These service
        providers shall process personal data only as instructed by and to provide the service to Ktm
        Voyage.
        <br>
        <br>
        Payment Providers and other financial institutions.<br> To process payments between a Business
        Partner and Ktm Voyage or a booker and a Business Partner, personal data, as relevant, is shared
        with Payment Providers and other financial institutions.
        <br>
        <br>
        Compelled disclosure. <br>When legally required, strictly necessary for the performance of our
        services, in legal proceedings, or to protect our rights or the rights of other members of the
        Booking Holdings Inc. group or users, we disclose personal data to law enforcement authorities,
        investigative organizations, or other group members.
    </p>
    <br>
    <h3 class="title2-custom">Security:</h3>
    <p class="text-custom">
        In accordance with data protection laws, Ktm Voyage observes reasonable procedures to prevent
        unauthorized access to, and the misuse of, information including personal data.
        We use appropriate business systems and procedures to protect and safeguard information including
        personal data. We also use security procedures and technical and physical restrictions for accessing and
        using the personal data on our servers. Only authorized personnel are permitted to access personal data in
        the course of their work.
    </p>
    <br>
    <h3 class="title2-custom">Data Replication:</h3>
    <p class="text-custom">
        We will retain personal data for as long as we deem it necessary to manage the business relationship with
        a Business Partner, to provide the Ktm Voyage services to a Business Partner, to comply with applicable
        laws (including those regarding document retention), resolve disputes with any parties and otherwise as
        necessary to allow Ktm Voyage to conduct its business. All personal data we retain will be subject to this
        Privacy Statement and our internal retention guidelines. If you have a question about a specific retention
        period for certain types of personal data we process about you, please contact us via the contact details
        included below.
    </p>
    <br>
    <h3 class="title2-custom">Your choices and rights:</h3>
    <p class="text-custom">
        We want you to be in control of how your personal data is used by us. You can do this in the following ways:
    <ul>
        <li>you can ask us for a copy of the personal data we hold about you;</li>
        <li>you can inform us of any changes to your personal data, or you can ask us to correct any of the
            personal data we hold about you;
        </li>
        <li>in certain situations, you can ask us to erase, block or restrict the personal data we hold about
            you, or object to particular ways in which we are using your personal data;
        </li>
        <li>in certain situations, you can also ask us to send the personal data you have given us to a third
            party.
        </li>
    </ul>

    Where we are using your personal data on the basis of your consent, you are entitled to withdraw that
    consent at any time subject to applicable law. Moreover, where we process your personal data based on
    legitimate interest or the public interest, you have the right to object at any time to that use of your
    personal data subject to applicable law.
    We rely on you to ensure that your personal data is complete, accurate and current. Please do inform us
    promptly of any changes to or inaccuracies of to your personal data by contacting us.
    </p>
    <br>
    <h3 class="title2-custom">Questions or Complaints:</h3>
    <p class="text-custom">
        If you have questions or concerns about our processing of your personal data or you want to exercise any
        of your rights you have under this Privacy Statement, please contact our data protection officer via
        <a href="#">dataprotectionoffice@ktmvoyage.com</a>. All privacy related questions and complaints reported to Ktm
        Voyage will be investigated. Ktm Voyage will attempt to resolve complaints and questions in line with
        internal policies. You may also contact your local data protection authority with questions and
        complaints.
    </p>
    <br>
    <h3 class="title2-custom">Changes to the privacy statements:</h3>
    <p class="text-custom">
        Just as our business changes constantly, this Privacy Statement may also change. If we make material
        changes or changes that will have an impact on you (e.g., when we start processing your personal data for
        other purposes than set out above), we will contact you prior to commencing that processing.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
<div style="padding-top: 20px">
    <div class="agree-container">
        <div style="color:white;">
            <input type="checkbox" name="agree" value="agree">&nbsp;<span style="letter-spacing: 0.4px">I have read and agree to the terms and conditions.</span>
        </div>
        <div>
            <div class="button_cont" align="center"><a id="ok-button" style="pointer-events:none" class="example_f"
                                                       href="{% url 'dashboard' %}"
                                                       rel="nofollow"><span>Get Started</span></a></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>

    $(document).ready(function () {

        $(window).scroll(function () {
            if (document.documentElement.clientHeight + $(document).scrollTop() >= document.body.offsetHeight) {
                $(".agree-container *").prop("disabled", false).off('click');
                $('input[type="checkbox"]').click(function () {
                    if ($(this).prop("checked") == true) {
                        $('#ok-button').css({'pointer-events': 'painted', 'background-color': 'white'});
                    } else if ($(this).prop("checked") == false) {
                        $('#ok-button').css({'pointer-events': 'none', 'background-color': '#cacaca'});
                    }
                });
            } else {
                $(".agree-container *").prop("disabled", true).off('click');
            }
        });


    });
</script>
</html>