{% extends 'travel/admin_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigationAdmin.html' %}
{% endblock sideMenuList %}
{% block mainContent %}
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">Please enter all the information required to add a hotel in spotlight.</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                </div>
            </div>
            <form class="form-detail" method="POST" id="myform"
                  enctype="multipart/form-data">
                {% csrf_token %}

                {# hidden input fields#}
                {# hidden input fields#}

                <div class="form-group">
                    <h2 class="custom-group">General Detail</h2>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="name">Hotel Name *</label>
                        <select id="hotel" class="form-control custom-input-box" value="" name="hotel">
                            {% if object %}
                                <option value="{{ object.hotel.id }}" selected>{{ object.hotel.name }}</option>
                            {% endif %}
                            {% for things in hotels %}
                                <option value="{{ things.id }}">{{ things.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="estd_date">Start From *</label>
                        <small class="custom-form-hint">Example: 01/01/2020</small>
                        <input type="date" name="start_date" id="txtDate" class="input-text"
                               value="{{ object.start_date| date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="estd_date">End At *</label>
                        <small class="custom-form-hint">Example: 01/01/2020</small>
                        <input type="date" name="end_date" id="" class="input-text"
                               value="{{ object.end_date| date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="estd_date">Price *</label>
                        <input type="text" name="price" id="" class="input-text"
                               value="{{ object.price }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="estd_date">Name of Depositor *</label>
                        {% if object.nameofdepositor == None %}
                            <input class="input-text" value=""
                                   type="text"
                                   name="nameofdepositor" required>
                        {% else %}
                            <input class="input-text"
                                   value="{{ object.nameofdepositor }}"
                                   type="text"
                                   name="nameofdepositor" required>
                        {% endif %}

                </div>
            </div>
                <div class="form-group input-select">
                    <div class="form-row form-row-1 ">
                        <label for="status">Status</label>
                        <table style="width: 100%">
                            {% if object.status == 1 %}
                                <tr>
                                    <td>
                                        <input class=" input-radio" type="radio"
                                               name="status"
                                               value="True" checked>
                                    </td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class=" input-radio" type="radio"
                                               name="status"
                                               value="False">
                                    </td>
                                    <td>Inactive</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <input class=" input-radio" type="radio"
                                               name="status"
                                               value="True">
                                    </td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class=" input-radio" type="radio"
                                               name="status"
                                               value="False" checked>
                                    </td>
                                    <td>Inactive</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="form-row-last">
                    {% if object.id %}
                        <input type="submit" name="register" class="register" value="Edit Spotlight">
                    {% else %}
                        <input type="submit" name="register" class="register" value="Register Spotlight">
                    {% endif %}
                    <a class="custom-cancel-button"
                       href="{% url 'hotel:spotlightindex' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
