{% extends 'travel/admin_base.html' %}
{% block sideMenuList %}
    {% include 'travel/sideNavigationAdmin.html' %}
{% endblock sideMenuList %}
{% block mainContent %}
    <div class="table-page-content">
        <div class="card new-custom-card">
            <div class="card-header new-custom-header">
                <div class="d-flex d-flex-row align-items-center mobile-view">
                    <h1 style="display: inline">Spotlight List</h1>
                    <div class="media-body ">
                        <a href="{% url 'hotel:spotlightcreate' %}"
                           class="custom-button ">Add Spotlight</a>
                    </div>
                </div>
            </div>
            <div class="card-body new-custom-body">
                <table class="custom-table table-striped" id="datatable" style="width: 100%">
                        <thead class="custom-table-head">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">SN</th>
                            <th scope="col">Hotel Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Depositor</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for things in all_items %}
                            <tr id="{{ things.id }}">
                                <td></td>
                                <td></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ things.hotel }}</td>
                                <td>{{ things.start_date }}</td>
                                <td>{{ things.end_date }}</td>
                                <td>{{ things.price }}</td>
                                <td>{{ things.nameofdepositor }}</td>
                                <td>
                                    <a data-placement="bottom" data-toggle="tooltip" title="Edit"
                                       class="custom-button-round btn btn-info btn-sm" style=""
                                       href="{% url 'hotel:spotlightupdate' things.id %}">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a onclick="return confirm('Are You Sure??')" data-placement="bottom"
                                       data-toggle="tooltip" title="Delete"
                                       class="custom-button-round btn btn-info btn-sm" style=""
                                       href="{% url 'hotel:spotlightdelete' things.id %}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
                <div id="loader"></div>
            </div>
        </div>
    </div>
{% endblock %}