{#{% extends 'travel/base.html' %}#}
{% extends 'travel/points.html' %}
{% block content %}
    <div class="col-md-12">
        <div class="card custom-form-card">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button class="close" data-dismiss="alert">
                            <small><sup>X</sup></small>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-header custom-card-header">
                <span class="custom-card-title">Points  configuration List</span>
                <br>
                <span class="custom-card-title-description">Please find out list of Point Configuration.</span>
                <a href="{% url 'points:point-setting-create' %}" class="btn custom-button float-right">Add
                    New</a>
            </div>
            <div class="card-body">
                <table class="table custom-table" id="datatable">
                    <thead class="custom-table-head">
                    <tr>
                        <th scope="col">SN</th>
                        <th scope="col">From</th>
                        <th scope="col">TO</th>
                        <th scope="col">Conversion Ratio</th>
                        <th scope="col">Maturity Time</th>
                        <th scope="col">Status</th>
                        <th class="thalign" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for things in all_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ things.frompoint }}</td>
                            <td>{{ things.topoint }}</td>
                            <td>{{ things.conversion_ratio }}</td>
                            <td>{{ things.maturity_time }}</td>
                            <td>{{ things.created_at }}</td>
                            <td class="tdalign">
{#                                <a class="btn btn-info btn-sm" style="color: white"#}
{#                                   href="{% url 'points:Credit-points-show' things.id %}"><i#}
{#                                        class="fa fa-eye"></i>&nbsp;&nbsp;View</a>&nbsp;#}
{#                                <a class="btn btn-warning btn-sm" style="color: white; pointer-events: none"#}

                                <a class="btn btn-warning btn-sm" style="color: white;"
                                   href="{% url 'points:point-setting-update' things.id %}" ><i
                                        class="fa fa-edit" ></i>&nbsp;&nbsp;Edit</a>&nbsp;
                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'points:point-setting-delete' things.id %}"
                                   onclick="return confirm('Are You Sure??')"><i class="fa fa-bitbucket"></i>&nbsp;&nbsp;Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}