{#{% extends 'travel/base.html' %}#}
{% extends 'travel/hotel_base.html' %}
{% block content %}
<div class="card ">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
            <small><span>X</span></small>
        </button>
        {{message}}
    </div>

    {% endfor %}
    {%endif%}
    <div class="card-header">
        <label>Staff Create</label>
        <a href="{% url 'hotel:staffindex' %}" class="btn btn-primary float-right">Staff List</a>
    </div>
    <div class="card-body">
        <form class="form my-2 my-lg-0" method="POST" id="valid_form" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">
                <label>Name: &nbsp;</label><input class="form-control mr-sm-2" type="text" name="name" placeholder="Enter Your Name Here"
                    value="{{object.name}}">
            </div>
            <div class="form-group">
                <label>Address: &nbsp;</label><input class="form-control mr-sm-2" type="text" name="address"
                    placeholder="Address 1" value="{{object.address}}">
            </div>
            <div class="form-group">
                <label>Phone Number : &nbsp;</label><input class="form-control mr-sm-2" type="number" name="contact"
                    placeholder="Contact Number" value="{{object.contact}}" min="1111111111" max="9999999999">
            </div>
       
            
            <div class="form-group">
                <input class="form-control mr-sm-2" type="hidden" name="owner_id" readonly value="{{object.owner_id_id}}"
                    placeholder=" Owner ID">
            </div>
            
            <div class="form-group">
                <label>Image: &nbsp;</label><input class="form-control mr-sm-2" type="file" name="image"
                    value="{{object.image.url}}">
            </div>
                           

            <div class="form-group text-center">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save Information</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}