{#{% extends 'travel/base.html' %}#}
{% extends 'travel/hotel_base.html' %}
{% load static %}
{% block content %}
<!-- <img style="width: 245px; height: 247px;"alt="Image description" src="{% static 'image/images.jpg' %}"/> -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#datatable').DataTable();
    });
</script>
<div class="card">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>X</sup></small>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    <div class="card-header">
        <label>Staff Detail</label>
        <a href="{% url 'hotel:staffindex' %}" class="btn btn-primary float-right">Staff List</a>
    </div>
    <div class="card-body">
     
        {% if object %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr></tr>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><img width="200" height="200" src="{{object.image.url}}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{object.name}}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{object.contact}}</td>
                </tr>
   
                <tr>
                    <td>Address</td>
                    <td>{{object.address}}</td>
                </tr>
                <tr>
                    <td>Phone Number </td>
                    <td>{{object.contact}}</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a class="btn btn-warning " style="margin-right:5px" href="{% url 'hotel:staffupdate' object.user_id %}">Edit</a>
                    <!-- </td>
                    <td> -->
                        <a class="btn btn-danger" style="margin-right:5px" href="{% url 'hotel:staffdelete' object.user_id %} " onclick="return confirm('Are You Sure??')">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}