{% extends 'travel/booking.html' %}
{% load static %}
{% block content %}
    <div class="card my-custom-card-v2" style="margin-left:45px">
        <div>
            <a style="margin-bottom: 10px" href="{% url 'booking:module-booking' object.company_id %}"
               class=" custom-button btn btn-primary float-right">Booking List</a>
        </div>
        <h2 style="font-family: Montserrat Thin; text-align: left; margin-bottom: 0px !important;font-size: 17px;letter-spacing: 0.5px">
            Booking Detail</h2>
        <hr style="width: 50%">

        {% if object %}
            <div class="module-wrapper">
                <div class="module-child" style="background-color: white; grid-template-columns: 1fr">
                    <div class="module-info">
                        <table width="100%">
                            <tbody>
                            <tr>
                                <td>
                                    <table class="custom-table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="{{ object.customer.image.url }}" height="90" width="90">
                                            </td>
                                            <td>
                                                {% if object.customer.gender == 'male' %}
                                                    Mr.
                                                {% else %}
                                                    Ms.
                                                {% endif %}
                                                <strong style="font-size: 18px">{{ object.customer }}</strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Address:
                                            </td>
                                            <td>
                                                <strong>{{ object.customer.address }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phone Number:
                                            </td>
                                            <td>
                                                <strong>{{ object.customer.contact }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Date of Birth:
                                            </td>
                                            <td>
                                                <strong>{{ object.customer.dob }}</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="custom-table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                Hotel Name:
                                            </td>
                                            <td>
                                                <strong>{{ all_items.company_name }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Room Name:
                                            </td>
                                            <td>
                                                <strong>{{ all_items.inventory_name }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                No. of Room:
                                            </td>
                                            <td>
                                                <strong>{{ object.quantity }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Check In Date:
                                            </td>
                                            <td>
                                                <strong>{{ object.start_date }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Check Out Date:
                                            </td>
                                            <td>
                                                <strong>{{ object.end_date }}</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="custom-table">
                                        <tbody>

                                        <tr>
                                            <td>
                                                Sub Total:
                                            </td>
                                            <td>
                                                <strong>{{ object.sub_total }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Discount:
                                            </td>
                                            <td>
                                                <strong>{{ object.discount }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tax:
                                            </td>
                                            <td>
                                                <strong>{{ object.tax }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Payment Method:
                                            </td>
                                            <td>
                                                <strong>{{ object.booking.payment_method }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Payment Type:
                                            </td>
                                            <td>
                                                <strong>{{ object.booking.payment_type }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Payment Status:
                                            </td>
                                            <td>
                                                <strong>{{ object.booking.payment_status }}</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="custom-action" style="background-color: white">
                    {% if all_items.checkStatus == 1 %}
                        <span>Checked out from your hotel on: <strong>&nbsp;&nbsp;{{ all_items.checkout }} </strong></span>
                    {% elif all_items.checkStatus == 'new' %}
                        <span>Welcome!!</span>
                    {% else %}
                        <span>Checked in to your hotel on: <strong>&nbsp;&nbsp;{{ all_items.checkin }}</strong></span>
                    {% endif %}
                    <hr style="width: 40%; margin-left: 0px">
                    {% if all_items.checkStatus == 1 %}
                        <a class="btn btn-success " style="margin-right:5px;pointer-events: none; opacity: 0.5"
                           href="{% url 'booking:module-booking-updateStatus' object.id  0 %}">
                            <i class="fa fa-door-open">&nbsp;&nbsp;
                            </i>
                            <span style="color: white; font-family: Montserrat Regular">Check In</span>
                        </a>
                        <a class="btn btn-danger" style="margin-right:5px;pointer-events: none; opacity: 0.5"
                           href="{% url 'booking:module-booking-updateStatus' object.id 1 %}">
                            <i style="color: white" class="fa fa-door-closed">
                            </i>&nbsp;
                            <span style="color: white; font-family: Montserrat Regular">Check Out</span>
                        </a>
                    {% elif all_items.checkStatus == 'new' %}
                        <a class="btn btn-success " style="margin-right:5px;"
                           href="{% url 'booking:module-booking-updateStatus' object.id  0 %}">
                            <i class="fa fa-door-open">&nbsp;&nbsp;
                            </i>
                            <span style="color: white; font-family: Montserrat Regular">Check In</span>
                        </a>
                        <a class="btn btn-danger" style="margin-right:5px;pointer-events: none; opacity: 0.5"
                           href="{% url 'booking:module-booking-updateStatus' object.id 1 %}">
                            <i style="color: white" class="fa fa-door-closed">
                            </i>&nbsp;
                            <span style="color: white; font-family: Montserrat Regular">Check Out</span>
                        </a>
                    {% else %}
                        <a class="btn btn-success " style="margin-right:5px;pointer-events: none; opacity: 0.5"
                           href="{% url 'booking:module-booking-updateStatus' object.id  0 %}">
                            <i class="fa fa-door-open">&nbsp;&nbsp;
                            </i>
                            <span style="color: white; font-family: Montserrat Regular">Check In</span>
                        </a>
                        <a class="btn btn-danger" style="margin-right:5px"
                           href="{% url 'booking:module-booking-updateStatus' object.id 1 %}">
                            <i style="color: white" class="fa fa-door-closed">
                            </i>&nbsp;
                            <span style="color: white; font-family: Montserrat Regular">Check Out</span>
                        </a>
                    {% endif %}
                    <a class="btn btn-primary" style="margin-right:5px"
                       href="{% url 'booking:pdf' object.id %}">
                        <i style="color: white" class="fa fa-file">
                        </i>&nbsp;
                        <span style="color: white; font-family: Montserrat Regular">Generate Invoice</span>
                    </a>
                </div>
            </div>
        {% else %}

        {% endif %}
    </div>
{% endblock %}