__pycache__/
.vscode
py1/
*.pyc
.vscode/
.DS_Store
venv
venv/
documentations/
.idea/
hotel/media/
hotel/media
hotel/media/*
users/media
users/media/*
*/media/*
*logs*
logs/
*bin*
pylintrc
logs/gunicorn-error.log
*Python-3.7.2.tar
*Python-3.7.2/