{#{% extends 'travel/base.html' %}#}
{% extends 'travel/hotel_base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <label>Owner List</label>
        <a href="{% url 'hotel:ownercreate' %}" class="btn btn-primary float-right">Create Owner</a>
    </div>
    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>X</sup></small>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if all_items %}
        <table class="table text-center" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                    <!-- <th scope="col">Delete</th> -->
                </tr>
            </thead>
            <tbody>
                {% for things in all_items %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{things.name}}</td>
                    <td>{{things.contact}}</td>
                    <td>{{things.address}}</td>
                    <td ><img width="100" height="100" src={{things.image.url}}></td>
                    <td>
                        <a class="btn btn-primary btn-block" href="{% url 'ownerprofileshow' things.user_id %}">View Detail</a><br>
                        <a class="btn btn-warning btn-block" href="{% url 'ownerprofileupdate' things.user_id %}">Edit</a><br>
{#                        <a class="btn btn-danger btn-block" href="{% url 'hotel:ownerdelete' things.user_id %}" onclick="return confirm('Are You Sure??')">Deactivate</a>#}
                    </td>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}