{% extends 'travel/hotel_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigation.html' with hotel_id_id=all_items.id %}
{% endblock sideMenuList %}
{% block mainContent %}
    <div class="page-content">
        <div class="form-v4-content detail-v4-content">
            <div class="detail-top">
                <div class="d-flex d-flex-row align-items-center mobile-view">
                    <img height="200" width="200" src="{{ object.image.url }}">
                    <div class="media-body">
                        <h1>{{ object.name }}</h1>
                        <p class="pmd-list-subtitle custom-sub-title">{{ object.contact }}</p>
                    </div>
                </div>
            </div>
            <div class="card pmd-card">
                <div class="card-body">
                    <!-- Bacis Information -->
                    <div class="details-tab custom-details-tab">
                        <div class="d-flex flex-row align-items-center mb-2">
                            <h3 class="card-title media-body custom-card-title">User Detail</h3>
                            <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
                                <a href="{% url 'ownerprofileupdate' object.user_id %}"
                                   class="pmd-btn-fab btn-outline-dark pmd-btn-flat btn btn-sm"
                                   aria-expanded="true"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </div>
                        <div class="row view-basic-card">
                            <div class="col-12 col-md-6 col-lg-3">
                                <label class="pmd-list-subtitle custom-list-subtitle">Address</label>
                                <p class="pmd-list-title custom-list-title">{{ object.address }}</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <label class="pmd-list-subtitle custom-list-subtitle">Contact Number</label>
                                <p class="pmd-list-title custom-list-title">{{ object.contact }}</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <label class="pmd-list-subtitle custom-list-subtitle">Email</label>
                                <p class="pmd-list-title custom-list-title">{{ object.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
