{% extends 'travel/booking.html' %}
{% block content %}
    <div class="col-md-12">
        <div class="card custom-form-card">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button class="close" data-dismiss="alert">
                            <small><sup>X</sup></small>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-header custom-card-header">
                <span class="custom-card-title">Reward List</span>
                <br>
                <span class="custom-card-title-description">Please find out list of reward item.</span>
                <a href="{% url 'booking:reward-create' %}"
                   class="btn btn-primary float-right custom-button">Add New
                </a>
            </div>
            <div class="card-body">
                <table class="table custom-table" id="datatable">
                    <thead class="custom-table-head">
                    <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Total Reward</th>
                        <th class="thalign" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for things in all_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ things.customer }}</td>
                            <td>{{ things.total_reward }}</td>
                            <td class="tdalign">

                                <a class="btn btn-info btn-sm" style="color: white"
                                   href="{% url 'booking:reward-show' things.id %}"><i
                                        class="fa fa-eye"></i>&nbsp;&nbsp;View</a>&nbsp;

                                <a class="btn btn-warning btn-sm" style="color: white"
                                   href="{% url 'booking:reward-update' things.id %}"><i
                                        class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a>&nbsp;

                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'booking:reward-delete' things.id %}"
                                   onclick="return confirm('Are You Sure??')"><i class="fa fa-bitbucket"></i>&nbsp;&nbsp;Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}