{% extends 'travel/admin_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigationAdmin.html' %}
{% endblock sideMenuList %}
{% block mainContent %}
    <div style='height: 0px;width: 0px; overflow: hidden'>
        {{ form.errors }}
    </div>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">Please detail about country.</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                    <p class="text-2"><span>Forms</span></p>
                    <ol class="ul-form-left">
                        <li>Country Form</li>
                    </ol>
                    <p class="text-3"><span>Step 1 of 1.</span></p>

                </div>
            </div>
            <form class="form-detail" method="POST" id="myform" enctype="multipart/form-data">
                {% csrf_token %}
                {# hidden input field #}

                {# hidden input field #}
                <div class="form-group">
                    <h2 class="custom-group">Country Detail</h2>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="name">Country *</label>
                        <input type="text" value="{{ object.name }}" name="name" class="input-text" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="name">Country Code *</label>
                        <small class="custom-form-hint">Example: NP, IN</small>
                        <input type="text" value="{{ object.country_code }}" name="country_code" class="input-text"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="name">Contact Code *</label>
                        <small class="custom-form-hint">Example: +977, +91</small>
                        {% if object.code == None %}
                            <input type="text" value="" name="code" class="input-text"
                                   required>
                        {% else %}
                            <input type="text" value="{{ object.code }}" name="code" class="input-text"
                                   required>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="name">Currency Code *</label>
                        <small class="custom-form-hint">Example: NPR, INR</small>
                        {% if object.currency_code == None %}
                            <input type="text" value="" name="currency_code" class="input-text"
                                   required>
                        {% else %}
                            <input type="text" value="{{ object.currency_code }}" name="currency_code" class="input-text"
                                   required>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1" style="width:100%">
                        <div style="width: 100%; height: 400px;" id="map_canvas"></div>
                        <small class="custom-form-hint" style="margin-top: 10px">You can drag the red marker to choose
                            your property or you can simply search your property from search box above.
                        </small>
                        <div class="location-map" id="location-map" style="box-shadow: 2px 2px 9px #dddddd">
                            <input style="width: auto; height: 20px; padding: 20px; border-radius: 10px; border: 1px solid black; margin-top: 10px; text-align: center; font-size: 16px;letter-spacing: 0.7px;box-shadow: 5px 5px 12px #3f3f3f"
                                   id="pac-input" class="controls" type="text" placeholder="Search Box">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 ">
                        <label for="contact1">Latitude *</label>
                        {% if object.latitude == None %}
                            <input id="lat" class="form-control custom-input-box" value=""
                                   type="text"
                                   name="latitude" placeholder="" required>
                        {% else %}
                            <input id="lat" class="form-control custom-input-box" value="{{ object.latitude }}"
                                   type="text"
                                   name="latitude" placeholder="" required>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 ">
                        <label for="contact1">Longitude *</label>
                        {% if object.longitude == None %}
                            <input id="lng" class="form-control custom-input-box" value=""
                                   type="text"
                                   name="longitude" placeholder="" required>
                        {% else %}
                            <input id="lng" class="form-control custom-input-box" value="{{ object.longitude }}"
                                   type="text"
                                   name="longitude" placeholder="" required>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row-last">
                    {% if object.id %}
                        <input type="submit" name="register" class="register" value="Update Country">
                    {% else %}
                        <input type="submit" name="register" class="register" value="Add Country">
                    {% endif %}
                    <a class="custom-cancel-button"
                       href="{% url 'hotel:country' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/mapLatLong.js' %}"></script>
{% endblock %}
