{% extends 'travel/admin_base.html' %}
{% block sideMenuList %}
    {% include 'travel/sideNavigation.html' with hotel_id_id=form.hotel.value %}
{% endblock sideMenuList %}
{% block js %}
    {{ form.media }}
{% endblock %}
{% block mainContent %}
    <div style='height: 0px;width: 0px; overflow: hidden'>
        {{ form.errors }}
    </div>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">Create your child supplement pricing aside. This will apply to children in
                        addition to your standard occupancy pricing. After you select your child age ranges, you can set
                        the supplements either at a fixed rate or for free.</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                    <p class="text-2"><span>Forms</span></p>
                    <ol class="ul-form-left">
                        <li>Cancellation & Modification Policy</li>
                        <li class="active">Child Supplement Policy</li>
                        <li>Extra Bed Policy</li>
                        <li>Crib Policy</li>
                    </ol>
                    <p class="text-3"><span>Step 2 of 4.</span></p>

                </div>
            </div>
            <form class="form-detail" method="POST" id="myform" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'travel/test_form.html' with form=form %}
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Save and Continue">
                    <input type="submit" name="register" class="register" value="Save and Exit">
                    {% comment %}{% if object %}
                        <input type="submit" name="register" class="register" value="Update Child Policy">
                    {% else %}
                        <input type="submit" name="register" class="register" value="Add Child Policy">
                    {% endif %}
                    <a class="custom-cancel-button"
                       href="{% url 'hotel:childSupplement' form.hotel.value %}">Cancel</a>{% endcomment %}


                </div>
            </form>
        </div>
    </div>
{% endblock %}


