

                        <div class="form-group row custom-form-group">
                            <div class="form-row form-row-1">
                                <label>From:</label>
                                {{ form.range_start }}
                                <small>Starting range of group size</small>
                            </div>
                            <div class="form-row form-row-1">
                                <label>To:</label>
                                {{ form.range_end }}
                                <small>End range of group size</small>
                            </div>
                        </div>
                        <div class="form-group row custom-form-group">
                            <div class="form-row form-row-1">
                                <label>MAP Price:</label>
                                {{ form.map_cost }}
                                <small>This price is on per person basis</small>
                            </div>
                            <div class="form-row form-row-1">
                                <label>AP Price:</label>
                                {{ form.ap_cost }}
                                <small>This price is on per person basis</small>
                            </div>
                        </div>