{% extends 'travel/hotel_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigation.html' with hotel_id_id=hotel_id inventory_id_id=hotel_inv_id %}
{% endblock sideMenuList %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/error.js' %}"></script>
    <script>
    $("#id_file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".imagePreview").css('background-image', 'url(' + e.target.result + ')');
            };
            reader.readAsDataURL(this.files[0]);
        }

    });
    </script>
{% endblock %}
{% block mainContent %}
    <div style='height: 0px;width: 0px; overflow: hidden'>
        {{ myerror }}
    </div>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">Please upload images that will help to highlight your inventory</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                    <p class="text-2"><span>Forms</span></p>
                    <ol class="ul-form-left">
                        <li>Room Detail Form</li>
                        <li>Price Rate Form</li>
                        <li>Bed Type Form</li>
                        <li class="active">Gallery Form</li>
                        <li>Policies</li>
                    </ol>
                    <p class="text-3"><span>Step 4 of 5.</span></p>
                </div>
            </div>
            <form class="form-detail" method="POST" action="{% url 'hotel:inventorygallery-update' object.id %}"
                  id="myform" enctype="multipart/form-data">

                {% csrf_token %}
                {# hidden input field #}
                <input class="form-control mr-sm-2" value="{{ object.hotel_inventory_id_id }}" type="hidden" readonly
                       name="hotel_inventory_id">
                {# hidden input field #}
                <div class="form-group">
                    <h2 class="custom-group">Media Detail</h2>
                </div>
                <div class="form-group mb-3 p-3" style="background-color: #fcfcfc">
                    <div class="form-row form-row-1">
                        <div class="imgUp">
                            {% if object.id %}
                                <div class="imagePreview" style="background-image: url('{{ object.image.url }}');width:250px; height:140.625px; overflow: hidden">
                                </div>
                            {% else %}
                                <div class="imagePreview" style="width:250px; height:140.625px; overflow: hidden">
                                </div>
                            {% endif %}
                            <label class="imageclass custom-button float-left">
                                Choose Image<input accept="image/png, image/jpeg" type="file" class="img" name="image"
                                                   id="id_file"
                                                   value="Upload Photo"
                                                   style="width: 0px !important;height: 0px !important;overflow: hidden;display: none">
                            </label>
                        </div>
                    </div>
                    <div class="form-row form-row-1 ">
                        <label for="cname">Title *</label>
                        <input style="height: 40px" type="text" name="title" class="input-text" value="{{ object.title }}">
                    </div>
                </div>

                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Edit Image">
                    <a class="custom-cancel-button"
                       href="{% url 'hotel:inventorygallery' hotel_inv_id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}