{#{% extends 'travel/base.html' %}#}
{#{% extends 'travel/hotel_base.html' %}#}
{% extends 'travel/hotel_base.html' %}

{% block content %}

<div class="card">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>X</sup></small>
                </button>
                {{ message }}
            </div>
        {% endfor %}
{% endif %}
            <div class="card-header custom-card-header">
                <span class="custom-card-title">All Guest</span>
                <br>
                <span class="custom-card-title-description">All Guest are listed here</span>
                <a href="{% url 'booking:guestdetailcreate' %}" class="btn custom-button float-right">Add
                    New Guest</a>
            </div>
        {% if all_bookings %}
        <div class="card-body">
                <table class="custom-table" id="datatable">
                        <thead class="custom-table-head">
                          <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>

{#                            <th scope="col">created at</th>#}
                            <th scope="col" class="thalign">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for things in all_bookings %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{things.name}}</td>
                                <td>{{things.email}}</td>
                                <td>{{things.contact}}</td>
                                <td class="tdalign">
{#                                    <a class="btn btn-sm btn-info" href="{%url 'hotel:hotelfacilities-show' things.id %}"><span class="fa fa-eye"> View Detail</span></a>#}
                                    <a class="btn btn-sm btn-warning" href="{%url 'booking:guestdetailupdate' things.id %}"><span class="fa fa-edit"> Edit</span></a>
                                    <a class="btn btn-sm btn-trash-o btn-danger" href="{% url 'booking:guestdetaildelete' things.id %}" onclick="return confirm('Are You Sure??')"><span class="fa fa-trash-o" > Delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>


        </div>
    </div>

{% endif %}
{% endblock %}