{#{% extends 'travel/base.html' %}#}
{% extends 'travel/hotel_base.html' %}
{% block sideMenuList %}
    {% include 'travel/sideNavigation.html' with hotel_id_id=hotel_id  inventory_id_id=item_id %}
{% endblock sideMenuList %}

{% block mainContent %}
    <div class="table-page-content">
        <div class="card new-custom-card">
            <div class="card-header new-custom-header">
                <div class="d-flex d-flex-row align-items-center mobile-view">
                    <h1 style="display: inline">List of facilities present in this room</h1>
                    <div class="media-body ">
                        <a href="{% url 'hotel:room-facility-assign-create' item_id %}"
                           class="custom-button ">Add Facility</a>
                    </div>
                </div>
            </div>
            <div class="card-body new-custom-body">
                <div class="card-body">
                    <table class="custom-table table-striped" id="datatable" style="width: 100%">
                        <thead class="custom-table-head">
                        <tr>
                            <th></th>
                            <th></th>
                            <th scope="col">S.N.</th>
                            <th scope="col">Facility Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Chargeable</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for things in all_items %}
                            <tr id="{{ things.id }}">
                                <td></td>
                                <td></td>
                                <td>{{ forloop.counter }}</td>
                                <td style="width: 150px">{{ things.roomfacility.name }}</td>
                                <td style="width: 100px;">{{ things.roomfacility.category }}</td>
                                <td style="width: 100px;">{{ things.cost }}</td>
                                <td>

                        <a data-placement="bottom" data-toggle="tooltip" title="Delete"
                           class="custom-button-round btn btn-sm"
                           href="{% url 'hotel:room-facility-assign-delete' things.id %}"
                           onclick="return confirm('Are You Sure??')"><i
                                class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}