{% extends 'travel/admin_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigation.html' with hotel_id_id=hotel_id inventory_id_id=hotel_inv_id %}
{% endblock sideMenuList %}
{% block js %}
    {{ form.media }}
{% endblock %}
{% block mainContent %}
    <div style='height: 0px;width: 0px; overflow: hidden'>
        {{ form.errors }}
    </div>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">List Price of this inventory along with mealplan given to diferent system.
                    Please provide lowest possible rate for BigSafar</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                    <p class="text-2"><span>Forms</span></p>
                    <ol class="ul-form-left">
                        <li>Rate In Similar Systems</li>
                    </ol>
                    <p class="text-3"><span>Step 1 of 1.</span></p>
                </div>
            </div>

            <form class="form-detail" method="POST" id="myform" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="inventory" type="hidden" value="{{ inv_id }}">
                {#                <input name="" type="hidden" value="{{ inv_id }}">#}
                <input value="{{ adult_max }}" type="hidden" name="adult_max" id="adult_max">
                <div class="multi-field-wrapper mt-5 pb-5">
                    <div class="multi-fields">
                        <div class="multi-field">
                            <button style="width:40px; float:right;" type="button"
                                    class="remove-field btn "><i
                                    class="fa fa-times"></i></button>

                            <div class="form-group row custom-form-group">
                                <div class="form-row form-row-1">
                                    {{ form.other_systems }}
                                </div>
                                <div class="form-row form-row-1">
                                    {{ form.meal_plans }}
                                </div>
                                <div class="form-row form-row-1">
                                    {{ form.price }}
                                </div>
                            </div>
                            <p class="text-1"></p>
                            <hr>
                        </div>
                    </div>
                    <button type="button" class="add-field custom-button">Add New System Info
                    </button>
                </div>
                {#Lower Rate for Adults#}
                <div class="form-group input-select">
                    <div class="form-row form-row-1">
                        <label for="lowrateforinfants">Offer Low rate for Adults?</label>
                        <table style="width: 100%">
                            <tr>
                                <td style="width:8%"><input class="input-radio adult_rate_radio" type="radio"
                                                            name="adult_rate_radio"
                                                            value="True"></td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td style="width:8%"><input class="input-radio adult_rate_radio" type="radio"
                                                            name="adult_rate_radio"
                                                            value="False" checked></td>
                                <td>No</td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                </div>
                {# Low Rate for adults #}
                {# Append adult discount here #}
                <div class="form-group  input-selectform-group input-select" id="adultdiv">
                    <div id="adultmax"></div>
                </div>

                {#Lower Rate for Adults#}
                <div class="form-row-last">
                    {% if object %}
                        <input type="submit" name="register" class="register" value="Update Child Policy">
                    {% else %}
                        <input type="submit" name="register" class="register" value="Save Details">
                    {% endif %}
                    <a class="custom-cancel-button"
                       href="{% url 'hotel:showinvdetail' inv_id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        /*$(document).ready(function () {
            multiGenerateFunction();
        });
        let multiGenerateFunction = function () {
            $('.multi-field-wrapper').each(function () {
                var $wrapper = $('.multi-fields', this);
                $(".add-field", $(this)).click(function (e) {
                    if ($('.multi-field:first-child #id_other_systems', $wrapper).data('select2')) {
                        $('.multi-field:first-child #id_other_systems', $wrapper).select2('destroy');
                        $('.multi-field:first-child #id_meal_plans', $wrapper).select2('destroy');

                    }

                    var a = $('.multi-field:first-child', $wrapper).clone(true);
                    {#a.empty();#}
                    {#console.log(a.empty());#}
                    a.find('select, select, input').val("");
                    other_sys_element = $('#id_other_systems');
                    sysvalue = (other_sys_element[0].childNodes[3].value);
                    other_meal_element = $('#id_meal_plans');
                    mealvalue = (other_meal_element[0].childNodes[3].value);

                    a.find('#id_other_systems').select2({width: ' 186.025px'});
                    a.find('#id_other_systems').val(sysvalue).trigger('change.select2');
                    $('.multi-field:first-child #id_other_systems', $wrapper).select2({width: ' 186.025px'});

                    a.find('#id_meal_plans').select2({width: ' 186.025px'});
                    a.find('#id_meal_plans').val(mealvalue).trigger('change.select2');
                    $('.multi-field:first-child #id_meal_plans', $wrapper).select2({width: ' 186.025px'});

                    a.find('#id_unit').select2({width: ' 186.025px'});
                    a.find('#id_unit').val('per child per night').trigger('change.select2');
                    $('.multi-field:first-child #id_unit', $wrapper).select2({width: ' 186.025px'});
                    $wrapper.append(a);
                    {#init(a);#}
                });

                $('.multi-field .remove-field', $wrapper).click(function () {
                    if ($('.multi-field', $wrapper).length > 1)
                        $(this).parent('.multi-field').remove();

                });
            });
        };
        {#Different Rate for adults#}
        $(".adult_rate_radio").change(function () {
            var adult_low_rate = $('input[name=adult_rate_radio]:checked').val();
            num_adults = document.getElementById('adult_max').value;
            changeadult_max = num_adults;
            if (num_adults) {
                if (adult_low_rate == 'True') {
                    $("#adultdiv").append('<div id="adultmax"></div>');
                    for (j = 0; j < num_adults - 1; j++) {
                        var adultname = '<div class="form-row form-row-1"><label>Discount Offered when ' + (num_adults - j - 1) + ' adult comes' + '</label><input style="width:60%"  type="text" class="input-text"  name=adult' + j + '><span style="padding:10px;">%</span></div>'
                        changeadult_max -= 1;
                        $("#adultmax").append(adultname);
                    }
                } else {
                    $("#adultmax").remove();
                }
            }
        });
        {#Different Rate for adults#}*/
    </script>
    <script type="text/javascript" src="{% static 'js/pricefordiffsys.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/error.js' %}"></script>
{% endblock %}



