{#{% extends "admin/base_site.html" %}#}
{#{% load i18n %}#}
{##}
{#{% block breadcrumbs %}#}
{#<div class="breadcrumbs">#}
{#<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>#}
{#&rsaquo; {% trans 'Password reset' %}#}
{#</div>#}
{#{% endblock %}#}
{##}
{#{% block title %}{{ title }}{% endblock %}#}
{#{% block content_title %}<h1>{{ title }}</h1>{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>#}
{##}
{#<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>#}
{##}
{#{% endblock %}#}


{#new#}
{% extends 'travel/sign_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    {#<link rel="icon" type="image/png" href="{% static 'image/icons/favicon.ico' %}"/>#}
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}



    <div class="limiter">
        <div class="container-login100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.83)), url({% static 'image/back_email.jpg' %}) !important;; background-position: center; background-size: cover; ">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{% static 'image/my-user.svg' %}" alt="IMG">
                </div>
                <form method="post" id="signup-form" class="login100-form signup-form" novalidate style="margin: auto">
                    {% csrf_token %}
                    <span class="login100-form-title" style="padding-bottom: 0px !important;">
						Password Change Done
					</span>
                    <hr>
                    <div class="text-center p-t-12">
						<span class="txt2">
							Your password has been set.  You may go ahead and log in now.
						</span>
                    </div>
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn form-submit" href="{{ login_url }}">Log In</a>
                    </div>


                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}