{% extends 'travel/admin_base.html' %}
{% load static %}
{% block sideMenuList %}
{% include 'travel/sideNavigationAdmin.html' %}
{% endblock %}
{% block mainContent %}
    <div class="table-page-content">
        <div class="card new-custom-card">
            <div class="card-header new-custom-header">
                <div class="d-flex d-flex-row align-items-center mobile-view">
                    <h1 style="display: inline">Hotel Room Amenities List</h1>
                    <div class="media-body ">
                        <a href="{% url 'hotel:hotelamenities-create' %}"
                           class="custom-button ">Add Amenity</a>
                    </div>
                </div>
            </div>
            <div class="card-body new-custom-body">
                <div class="card-body">
                    <table class="custom-table table-striped" id="datatable" style="width: 100%">
                        <thead class="custom-table-head">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">SN</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amenity Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hotel in hotelamenities %}
                            <tr id="{{ hotel.id }}">
                                <td></td>
                                <td></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ hotel.category }}</td>
                                <td>{{ hotel.name }}</td>
                                <td>
                                    {% if hotel.image == '' %}
                                        No Image
                                    {% else %}
                                        <img src="{{ hotel.image.url }}" height="100" width="100">
                                    {% endif %}

                                </td>
                                <td>
                                    <a data-placement="bottom" data-toggle="tooltip" title="Edit"
                                       class="custom-button-round btn btn-info btn-sm" style=""
                                       href="{% url 'hotel:hotelamenities-update' hotel.id %}">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a onclick="return confirm('Are You Sure??')" data-placement="bottom" data-toggle="tooltip" title="Delete"
                                       class="custom-button-round btn btn-info btn-sm" style=""
                                       href="{% url 'hotel:hotelamenities-delete' hotel.id %}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="loader"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}