{% extends 'travel/admin_base.html' %}
{% load static %}
{% block sideMenuList %}
    {% include 'travel/sideNavigationAdmin.html' %}
{% endblock sideMenuList %}
{% block mainContent %}
    <div style='height: 0px;width: 0px; overflow: hidden'>
        {{ form.errors }}
    </div>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <div>
                    <h2>Information</h2>
                    <p class="text-1">Please provide detail information about types of rooms and also specify bed
                        options and its occupancy accordingly.</p>
                    <p class="text-1 mt-4" style="font-weight: 700">* All Field are required.</p>
                    <p class="text-2"><span>Forms</span></p>
                    <ol class="ul-form-left">
                        <li>Room Type Form</li>
                    </ol>
                    <p class="text-3"><span>Step 1 of 1.</span></p>

                </div>
            </div>
            <form class="form-detail" method="POST" id="myform" enctype="multipart/form-data">
                {% csrf_token %}
                {# hidden input field #}
                {# hidden input field #}
                <div class="form-group">
                    <h2 class="custom-group">Detail about Room Type</h2>
                </div>
                <div class="form-group row custom-form-group">
                    <div class="form-row form-row-1 ">
                        <label for="name">Room Type *</label>
                        <input type="text" name="name" class="input-text" value="{{ object.name }}" required>
                        <small class="form-text text-muted">Eg: Single Bedroom, Family Bedroom</small>
                    </div>
                </div>
                <hr>
                <div style="background-color: #f5f5f594; padding: 15px; border-radius: 8px">
                    <div class="form-group">
                        <h2 class="custom-group">Bed options and occupancy</h2>
                    </div>
                    <small class="form-text text-muted">
                        What kind of beds are available in this room?
                    </small>

                    <div class="multi-field-wrapper mt-2">
                        <div class="multi-fields">
                            {% if beds %}
                                {% for bed in beds %}
                                    <div class="multi-field">
                                        <button data-toggle="tooltip" title="Remove" style="width:40px; float:right;"
                                                type="button"
                                                class="remove-field pmd-btn-fab btn-outline-dark pmd-btn-flat btn btn-sm">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div class="form-group row custom-form-group">
                                            <div class="form-row form-row-1 ">
                                                <label for="bed_name">Name of bed *</label>
                                                <input type="text" name="bed_name" class="input-text"
                                                       value="{{ bed.name }}" required>
                                                <small class="form-text text-muted">Eg: King Size Bed + Single Bed ,
                                                    Standard
                                                    Size bed
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row custom-form-group">
                                            <div class="form-row form-row-1 ">
                                                <label for="bed_count">Number of bed *</label>
                                                <input type="number" name="bed_count" class="input-text"
                                                       value="{{ bed.count }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group input-select">
                                            <div class="form-row form-row-1 ">
                                                <label for="description">Description about bed</label>
                                                {% if bed.description == None %}
                                                    <textarea style="height: 70px" class="form-input custom-input-box"
                                                              name="description"></textarea>
                                                {% else %}
                                                    <textarea style="height: 70px" class="form-input custom-input-box"
                                                              name="description">{{ bed.description }}</textarea>
                                                {% endif %}

                                                <small class="form-text text-muted">
                                                    Hint: Not more than 200 words.
                                                </small>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="multi-field">
                                <button data-toggle="tooltip" title="Remove" style="width:40px; float:right;"
                                        type="button"
                                        class="remove-field pmd-btn-fab btn-outline-dark pmd-btn-flat btn btn-sm">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <div class="form-group row custom-form-group">
                                    <div class="form-row form-row-1 ">
                                        <label for="bed_name">Name of bed *</label>
                                        <input type="text" name="bed_name" class="input-text" value="" required>
                                        <small class="form-text text-muted">Eg: King Size Bed + Single Bed , Standard
                                            Size bed
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group row custom-form-group">
                                    <div class="form-row form-row-1 ">
                                        <label for="bed_count">Number of bed *</label>
                                        <input type="number" name="bed_count" class="input-text" value="" required>
                                    </div>
                                </div>
                                <div class="form-group input-select">
                                    <div class="form-row form-row-1 ">
                                        <label for="description">Description about bed</label>
                                        <textarea style="height: 70px" class="form-input custom-input-box"
                                                  name="description"></textarea>
                                        <small class="form-text text-muted">
                                            Hint: Not more than 200 words.
                                        </small>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            {% endif %}
                        </div>
                        <button type="button" class="add-field custom-button"
                                style="background-color: #f2f2f4 !important; color: #6f6f6f">
                            Add another bed
                        </button>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" value="Save and Add New">
                            <input type="submit" name="register" class="register" value="Save and Exit">
                        <a class="custom-cancel-button"
                           href="{% url 'hotel:hotelroomtype' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('.multi-field-wrapper').each(function () {
                let $wrapper = $('.multi-fields', this);
                $(".add-field", $(this)).click(function (e) {
                    let a = $('.multi-field:last-child', $wrapper).clone(true);
                    a.find('input, textarea').val("");
                    $wrapper.append(a);
                });

                $('.multi-field .remove-field', $wrapper).click(function () {
                    if ($('.multi-field', $wrapper).length > 1)
                        $(this).parent('.multi-field').remove();
                });
            });
        });

    </script>
{% endblock %}



